@mixin border() {
  border: 1px solid $grey;
}

@mixin box-shadow-bottom() {
  box-shadow: 0 10px 100px rgba(3, 3, 3, .4);
}

@mixin box-shadow-input() {
  box-shadow: 0 4px 50px rgba(3, 3, 3, .4);
}

@mixin tablet {
  @media (min-width: 768px) and (max-width: 1024px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 1024px) {
    @content;
  }
}
