.weather {
  text-align: center;
  padding-bottom: 20px;
  &__header {
    font-size: 14px;
  }
  &__input {
    @include box-shadow-input();
    display: block;
    width: 96%;
    margin: 40px auto 10px;
    padding: 14px 2%;
    border-radius: 4px;
    border: 1px solid $light-grey;
    font-size: 20px;
    font-family: $default-font;
    text-align: center;
  }
}

/* Component Animations */
.results-animation {
  opacity: 0.01;
  &.results-animation-active {
    opacity: 1;
    transition: opacity 5s ease-in;
  }
}
